// Primary
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);
//font-family
$ff-1: "Alata", sans-serif;
$ff-2: "Josefin Sans", sans-serif;

.creations {
  text-align: center;
  font-family: $ff-2;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.deep__earth-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.1)),
    url(/images/mobile/image-deep-earth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.night__arcade-bg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.527),
      rgba(0, 0, 0, 0.1)
    ),
    url(/images/mobile/image-night-arcade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.soccer__team-bg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.527),
      rgba(0, 0, 0, 0.1)
    ),
    url(/images/mobile/image-soccer-team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.the__grid-bg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.527),
      rgba(0, 0, 0, 0.1)
    ),
    url(/images/mobile/image-grid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.from__above-bg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.527),
      rgba(0, 0, 0, 0.1)
    ),
    url(/images/mobile/image-from-above.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.pocket__borealis-bg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.527),
      rgba(0, 0, 0, 0.1)
    ),
    url(/images/mobile/image-pocket-borealis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.curiosity-bg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.527),
      rgba(0, 0, 0, 0.1)
    ),
    url(/images/mobile/image-curiosity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.fisheye-bg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.527),
      rgba(0, 0, 0, 0.1)
    ),
    url(/images/mobile/image-fisheye.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.see__all {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5rem 0 7.5rem 0;

  button {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-family: $ff-1;
    font-size: 1rem;

    background-color: $white;
    padding: 0.5rem 2.5rem;

    grid-area: btn;
  }
}
