// min-width 1025px

@media only screen and (min-width: 64.063em) {
  // Primary
  $white: hsl(0, 0%, 100%);
  $black: hsl(0, 0%, 0%);
  $darkGray: hsl(0, 0%, 55%);
  $veryDarkGray: hsl(0, 0%, 41%);
  //font-family
  $ff-1: "Alata", sans-serif;
  $ff-2: "Josefin Sans", sans-serif;

  .header-bg-img {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.1)
      ),
      url(/images/desktop/image-hero.jpg);
    background-position: center;

    .open-nav {
      display: none;
    }

    nav {
      margin-top: 4rem;
      grid-area: nav;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      gap: 4rem;

      .nav__links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 35%;
      }
    }

    .hero__container {
      display: flex;
      align-items: center;
      justify-content: left;
      grid-area: hero;

      .hero__content {
        width: 40%;
        margin-top: 9rem;
        margin-bottom: 9rem;
        margin-left: 10.5rem;

        h1 {
          width: 100%;
          font-size: 4rem;
          margin: 0;
          padding: 2rem;
        }
      }
    }
  }

  .about {
    padding: 0;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 10rem;

    .about__img {
      background-image: url(/images/desktop/image-interactive.jpg);
      width: 50%;
      padding: 15rem;
      margin: 6rem auto 1.5rem 10rem;
    }
    .about__content {
      position: absolute;
      top: 17.5rem;
      bottom: 5rem;
      right: 9rem;
      left: 43rem;
      padding: 4rem;
      text-align: left;
      background-color: $white;
      height: 50%;

      h1 {
        font-size: 2.5rem;
      }

      p {
        padding: 0;
      }
    }
  }

  .creations__title {
    grid-area: creations;
  }

  .deep__earth-bg {
    grid-area: deep;
  }

  .night__arcade-bg {
    grid-area: night;
  }

  .soccer__team-bg {
    grid-area: soccer;
  }

  .the__grid-bg {
    grid-area: grid;
  }

  .from__above-bg {
    grid-area: above;
  }

  .pocket__borealis-bg {
    grid-area: pocket;
  }

  .curiosity-bg {
    grid-area: curiosity;
  }

  .fisheye-bg {
    grid-area: fisheye;
  }

  .deep__earth-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.1)),
      url(/images/desktop/image-deep-earth.jpg);
    background-position: center center;
    background-size: 100%;
    height: 100%;
  }

  .night__arcade-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.527),
        rgba(0, 0, 0, 0.1)
      ),
      url(/images/desktop/image-night-arcade.jpg);
    background-position: center center;
    background-size: 100%;
    height: 100%;
  }
  .soccer__team-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.527),
        rgba(0, 0, 0, 0.1)
      ),
      url(/images/desktop/image-soccer-team.jpg);
    background-position: center center;
    background-size: 100%;
    height: 100%;
  }
  .the__grid-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.527),
        rgba(0, 0, 0, 0.1)
      ),
      url(/images/desktop/image-grid.jpg);
    background-position: center center;
    background-size: 100%;
    height: 100%;
  }
  .from__above-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.527),
        rgba(0, 0, 0, 0.1)
      ),
      url(/images/desktop/image-from-above.jpg);
    background-position: center center;
    background-size: 100%;
    height: 100%;
  }
  .pocket__borealis-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.527),
        rgba(0, 0, 0, 0.1)
      ),
      url(/images/desktop/image-pocket-borealis.jpg);
    background-position: center center;
    background-size: 100%;
    height: 100%;
  }
  .curiosity-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.527),
        rgba(0, 0, 0, 0.1)
      ),
      url(/images/desktop/image-curiosity.jpg);
    background-position: center center;
    background-size: 100%;
    height: 100%;
  }
  .fisheye-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.527),
        rgba(0, 0, 0, 0.1)
      ),
      url(/images/desktop/image-fisheye.jpg);
    background-position: center center;
    background-size: 100%;
    height: 100%;
  }

  .see__all {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0 7.5rem 0;
    grid-area: btn;

    button {
      text-transform: uppercase;
      letter-spacing: 0.25rem;
      font-family: $ff-1;
      font-size: 1rem;

      background-color: $white;
      padding: 0.5rem 2.5rem;
    }
  }
}
