// min-width 1024px and max-width 1440px
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  // Primary
  // Primary
  $white: hsl(0, 0%, 100%);
  $black: hsl(0, 0%, 0%);
  $darkGray: hsl(0, 0%, 55%);
  $veryDarkGray: hsl(0, 0%, 41%);
  //font-family
  $ff-1: "Alata", sans-serif;
  $ff-2: "Josefin Sans", sans-serif;

  .logo {
    width: 80%;
  }

  .header-bg-img {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.1)
      ),
      url(/loopstudios-landing-page-main/images/desktop/image-hero.jpg);
    background-size: 100%;

    nav {
      justify-content: space-around;
      padding: 4rem 9rem;

      .nav__links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 45%;

        li {
          list-style-type: none;

          a {
            color: $white;
            font-family: $ff-1;
          }
        }
      }
    }

    .hero__content {
      justify-content: left;
      max-width: 40%;
      margin-left: 9rem;

      h1 {
        width: 100%;
        font-size: 4rem;
        padding: 1.5rem;
        margin: 4rem 0 9rem 0;
      }
    }
  }

  .about {
    padding: 0;
    position: relative;
    margin-bottom: 10rem;

    .about__img {
      background-image: url(/loopstudios-landing-page-main/images/desktop/image-interactive.jpg);
      width: 50%;
      padding: 15rem;
      margin: 8rem auto 5rem 8rem;
    }
    .about__content {
      position: absolute;
      top: 20rem;
      bottom: 2rem;
      right: 9rem;
      left: 43rem;
      padding: 4rem;
      text-align: left;
      background-color: $white;

      h1 {
        font-size: 2.5rem;
      }

      p {
        padding: 0;
      }
    }
  }
}
