// Primary
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);
//font-family
$ff-1: "Alata", sans-serif;
$ff-2: "Josefin Sans", sans-serif;

body {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: $white;
}

li {
  cursor: pointer;
}

.nav-active {
  display: block;
  background-color: black;
  max-width: 100%;
  height: 100vh;
}
