@import "__utilities";
@import "_nav-hero";
@import "_about";
@import "_creations";
@import "_footer";
@import "_media-1440";

// Primary
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);
//font-family
$ff-1: "Alata", sans-serif;
$ff-2: "Josefin Sans", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-2;
  text-transform: uppercase;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
  color: hsl(0, 0%, 50%);
  padding: 2rem 0;
  background-color: black;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
