// Primary
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);
//font-family
$ff-1: "Alata", sans-serif;
$ff-2: "Josefin Sans", sans-serif;

.about {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;

  .about__img {
    background-image: url(/loopstudios-landing-page-main/images/mobile/image-interactive.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding: 7rem;
    margin: 6rem auto 1.5rem auto;
  }

  .about__content {
    text-align: center;
    h1 {
      font-family: $ff-2;
      font-weight: 300;
      text-transform: uppercase;
      padding-bottom: 1.5rem;
    }

    p {
      padding: 0 2rem 7rem 2rem;
      line-height: 2;
      font-family: $ff-1;
      color: $veryDarkGray;
    }
  }
}
